<div class="dashboard-overview">
    <nz-row nzJustify="center">
      <nz-col nzXs="24" nzMd="12" nzLg="8">
        <nz-card nzTitle="Total Projet">
          <div nz-row nzJustify="end">
            <span class="counter text-success">659</span>
          </div>
        </nz-card>
      </nz-col>
      <nz-col nzXs="24" nzMd="12" nzLg="8">
        <nz-card nzTitle="Total Tâche">
          <div nz-row nzJustify="end">
            <span class="counter text-purple">869</span>
          </div>
        </nz-card>
      </nz-col>
      <nz-col nzXs="24" nzMd="12" nzLg="8">
        <nz-card nzTitle="Utilisateur">
          <div nz-row nzJustify="end">
            <span class="counter text-info">911</span>
          </div>
        </nz-card>
      </nz-col>
    </nz-row>
  </div>
  