<div class="modal-content">
  <div class="line1">
    <h2>Enregistrement d'un utilisateur</h2>
    <button nz-button nzType="text" nzShape="circle" (click)="closeModal()">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
  </div>
  <form nz-form (nzSubmit)="addMember()" class="modal-body">

    <nz-form-item>
      <nz-form-label for="user">Utilisateur :</nz-form-label>
      <nz-form-control>
        <nz-select nzPlaceHolder="Sélectionner un utilisateur" name="user" id="user" [(ngModel)]="userData.selectedUserId">
          <nz-option *ngFor="let user of users" [nzValue]="user.id">{{ user.name }}</nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label for="role">Rôle :</nz-form-label>
      <nz-form-control>
        <nz-select nzPlaceHolder="Sélectionner un rôle" name="role" id="role" [(ngModel)]="userData.role">
          <nz-option *ngFor="let role of roles" [nzValue]="role">{{ role }}</nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div class="form-group">
      <button nz-button nzType="primary" class="mx-auto">Ajouter un membre</button>
    </div>
  </form>
</div>
