<nz-layout>
  <app-topnavbar></app-topnavbar>
  <nz-layout nzHasSider>
    
    <nz-sider nzWidth="280px">
      <app-leftnavbar></app-leftnavbar>
    </nz-sider>
  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let projet of projetsSelectionnes">
        <a
          class="nav-link"
          [ngClass]="{
            active: activeTab === projet.id,
            'selected-tab': activeTab === projet.id
          }"
          (click)="selectTab(projet.id)"
          >{{ "Projet " + projet.id }}</a
        >
      </li>
    </ul>
    <ng-container *ngFor="let projet of projetsSelectionnes">
      <div [hidden]="activeTab !== projet.id" class="scrollable-form">
        <!-- Formulaire pour le projet -->
        <form [formGroup]="projetForm" (ngSubmit)="submitForm()">
          <!-- Replace the textarea with TinyMCE -- class="form-control"-->
          <div>
            <label for="evenement">Evenement</label>
            <editor
              apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
              [init]="editorConfig"
              name="evenement"
              formControlName="evenement"
              required
            ></editor>
          </div>

          <div class="form-group">
            <label for="difficultes">Difficultés</label>
            <editor
              apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
              [init]="editorConfig"
              name="difficultes"
              formControlName="difficultes"
              required
            ></editor>
          </div>

          <div class="form-group">
            <label for="budget">Commentaires</label>
            <editor
              apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
              [init]="editorConfig"
              type="text"
              name="commentaires"
              formControlName="commentaires"
              required
            ></editor>
          </div>

          <div class="form-group">
            <label for="approche_solution">Approches de Solutions</label>
            <editor
              apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
              [init]="editorConfig"
              name="approche_solution"
              formControlName="approche_solution"
              required
            ></editor>
          </div>
          <div class="form-group">
            <label for="action_retenu">Actions Retenues</label>
            <editor
              apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
              [init]="editorConfig"
              name="action_retenu"
              formControlName="action_retenu"
              required
            ></editor>
          </div>
          <div class="form-group">
            <label for="dateDebut">Date du compte rendu:</label>
            <input
              placeholder="Date du compte rendu"
              type="date"
              class="form-control"
              name="date"
              formControlName="date"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">
            <!--(click)="modifierProjet()"-->
            Enregistrer
          </button>
        </form>
      </div>
    </ng-container>
  </div>
<nz-layout>
