<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rapport de Séance de Supervision</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!--<div *ngIf="loading" class="loading-container">
    <img src="/assets/loading.gif" alt="Chargement en cours..." />
  </div>-->

    <app-topnavbar></app-topnavbar>
    <div class="row">
      <div class="col-md-3">
        <app-leftnavbar></app-leftnavbar>
      </div>
      <div class="col-md-9">
        <section class="ftco-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div style="margin: 15px">
                  <h1>Liste des Rapports de Séance de Supervision</h1>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
