<aside class="left-sidebar" data-sidebarbg="skin6">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="sidebar-menu">
        <li class="sidebar-item pt-2">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="far fa-clock" aria-hidden="true"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="profile.html"
            aria-expanded="false"
          >
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="hide-menu">Accueil</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            routerLink="/projets"
            aria-expanded="false"
          >
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="hide-menu">Gestion de Projet</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            routerLink="/seance"
            aria-expanded="false"
          >
            <i class="fa fa-table" aria-hidden="true"></i>
            <span class="hide-menu">Séance de Supervision</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="fontawesome.html"
            aria-expanded="false"
          >
            <i class="fa fa-font" aria-hidden="true"></i>
            <span class="hide-menu">Rapports</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="map-google.html"
            aria-expanded="false"
          >
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span class="hide-menu"> Historiques</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="blank.html"
            aria-expanded="false"
          >
            <i class="fa fa-columns" aria-hidden="true"></i>
            <span class="hide-menu">Aide et support :</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="404.html"
            aria-expanded="false"
          >
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span class="hide-menu">Error 404</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
