.modal-content {
  height: 500px; /* Ajustez la hauteur maximale selon vos besoins */
  overflow-y: auto; /* Ajoute une barre de défilement en cas de dépassement de la hauteur maximale */
  width: 500px;
}

.line1 h2{
  display:inline;
  margin-right:250px;
  margin-left:15px;
}

.line1 a{
  width:15px;
  height:15px;
  border-raduis: 0;
}

.btn{
  width:100px;
  padding:0;
}