<div class="modal-content">
  <div class="line1">
    <h2>Modification d'un Commentaire</h2>
    <button type="button" class="btn-close" aria-label="Close"></button>
    <!-- //A COMMENTER (click)="closeModal()" -->
  </div>
  <form class="modal-body" [formGroup]="form">
    <!-- // A commenter (submit)="modifierProjet()" -->

    <div class="form-group">
      <label for="evenement">Evenement</label>
      <editor
        apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
        [init]="editorConfig"
        name="evenement"
        formControlName="evenement"
        id="evenement"
        required
      ></editor>
    </div>

    <div class="form-group">
      <label for="difficultes">Difficultés</label>
      <editor
        apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
        [init]="editorConfig"
        id="difficultes"
        formControlName="difficultes"
        name="difficultes"
        required
      ></editor>
    </div>

    <div class="form-group">
      <label for="budget">Commentaires</label>
      <editor
        apiKey="bw5yg8ceclbm45uva1xn703uy2dbdhb3quhtbk15ix7hcyrl"
        [init]="editorConfig"
        id="commentaires"
        formControlName="commentaires"
        name="commentaires"
        required
      ></editor>
    </div>

    <div class="form-group">
      <label for="dateDebut">Date du compte rendu:</label>
      <input
        type="date"
        class="form-control"
        id="date"
        formControlName="date"
        name="date"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="modifierProjet()">
      Modifier
    </button>
  </form>
</div>
