<div *ngIf="loading" class="loading-container">
  <img src="/assets/loading.gif" alt="Chargement en cours..." />
</div>

<app-topnavbar></app-topnavbar>
<div class="row">
  <div class="col-md-3">
    <app-leftnavbar></app-leftnavbar>
  </div>
  <div class="col-md-9">
    <h2>Notifications</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-margin">
            <div *ngIf="notifications.length > 0">
              <ul>
                <li *ngFor="let notification of notifications">
                  <div>
                    <h3>Vous aviez initiez un compte rendu pour le {{ notification.data.date }}</h3>
                  </div>
                </li>
              </ul>
            </div>
            <div *ngIf="notifications.length === 0">
              <h2><p>Aucune notification à afficher pour le moment.</p></h2>
            </div>
        </div>
      </div>
    </div>
  </div>
