<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Modification d\'un Projet'" (nzOnCancel)="handleCancel()" (nzOnOk)="modifierProjet()">
  <form nz-form [formGroup]="form" (ngSubmit)="modifierProjet()">
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="nom">Nom du Projet:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="nom" id="nom" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="budget_alloue">Budget Alloué:</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="budget_alloue" id="budget_alloue" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="budget_depense">Budget Dépensé:</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="budget_depense" id="budget_depense" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="dateDebut">Date de Début:</nz-form-label>
      <nz-form-control>
        <input nz-date formControlName="date_debut" id="dateDebut" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="date_fin_prevue">Date de Fin Prévue:</nz-form-label>
      <nz-form-control>
        <input nz-date formControlName="date_fin_prevue" id="date_fin_prevue" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="objectif">Objectifs du Projet:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="objectif" id="objectif" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="risques">Risques du Projet:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="risques" id="risques" nzSize="large" required />
      </nz-form-control>
    </div>
    <div nz-form-item nz-row nzJustify="end">
      <nz-form-control>
        <button nz-button nzType="primary" type="submit">Modifier</button>
      </nz-form-control>
    </div>
  </form>
</nz-modal>
