#utilizer
{
  /*background-color: aquamarine;*/
  margin-left: 0px;
  margin-top: 0px;
  /*border: 1px solid gray;*/
  height: 899px;
}

#grow{
  height: 10px;
  padding-bottom: 5px;
  width: 25px;
}
