<body>
 <!-- ======= Header ======= -->
 <header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about" routerLink="/login">Login</a></li>
        <!--<li><a class="nav-link scrollto" href="#features" routerLink="/signup">Sign Up</a></li>-->
      <i class="bi bi-list mobile-nav-toggle"></i>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="ProjectPro" src="assets/img/projectpror.png"></a>
        </div>
      </div>

      <div class="col-md-12" style="margin-top:-50px;">
        <p class="tagline">
          "Transformez votre vision en réalité avec ProjectPro
          votre partenaire infaillible pour un suivi de projet efficace.
          Du concept à la réussite, ProjectPro vous aide à garder le cap,
          à collaborer sans effort et à concrétiser vos projets les plus ambitieux."
        </p>
        <a class="btn btn-full scrollto" href="#about" routerLink="/login">Se Connecter</a>
      </div>
    </div>

  </section><!-- End Hero -->
  </body>

  <!-- <router-outlet></router-outlet> -->
